.carousel-item img {
	height: 32rem;
}

.featurette-heading {
	margin-top: 20%;
}

.featurette-divider {
	margin-top: 6rem;
	margin-bottom: 4rem;
}

@media (max-width: 768px) {
	.featurette-heading {
		margin-top: 0;
	}
}